*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.btn-parent{
    display: flex;
    justify-content: center;
}
.grid-parent{
    display: flex;
    justify-content: center;
}
#grid-container{
    /* outline: auto; */
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.js-made{
    flex-grow: 1;
    flex-shrink: 1;
    outline: auto;
}
.hovered{
    background-color: black;
}
button{
    font-family: inherit;
    font-size: 16px;
    padding: 4px 16px;
    margin-bottom: 20px;
    margin-top: 20px;

}